.container_info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-color: gray;
    border-radius: 10px;
    padding: 20px;
    width: 70%;

    font-family: 'Akshar', sans-serif;
}

.container_info button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.marca {
    font-size: 40px;
    margin-right: 50px;
    margin-top: auto;
}

.ano {
    margin-bottom: 0;
}

.price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}

.hr {
    background-color: black;
    width: 70%;
    margin: auto 0;
    padding: 0;
    height: 1px;
    align-content: center;
    justify-content: center;
}

.preco_atual {
    font-size: 25px;
}

.little_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}